/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}



.hero {
  background-color: #17a91785;
  color: white;
}

.hero .hero__background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: url(/img/home-background.png) no-repeat center;
  background-size: cover;
  filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a' x='0' y='0' width='1' height='1'%3E%3CfeGaussianBlur stdDeviation='4' result='b'/%3E%3CfeMorphology operator='dilate' radius='4'/%3E %3CfeMerge%3E%3CfeMergeNode/%3E%3CfeMergeNode in='b'/%3E%3C/feMerge%3E%3C/filter%3E%3C/svg%3E#a");
}
.hero__title {
  font-size: 2.5rem;
}

.hero__subtitle {
  font-size: 1.25rem;
}

.hero__subtitle::first-letter {
  text-transform: capitalize;
}

@media (max-width: 996px) {
  .hero .hero__background {
    left: 0;
  }
}
